<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oracle.mapper.DocumentMapper" >
  <resultMap id="BaseResultMap" type="com.oracle.pojo.Document" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="filerealname" property="filerealname" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="parentid" property="parentid" jdbcType="INTEGER" />
    <result column="havechild" property="havechild" jdbcType="INTEGER" />
    <result column="creattime" property="creattime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="isdelete" property="isdelete" jdbcType="INTEGER" />
    <result column="deletetime" property="deletetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, filerealname, type, userid, parentid, havechild, creattime, remark, isdelete, 
    deletetime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.oracle.pojo.DocumentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from document
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from document
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from document
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.oracle.pojo.DocumentExample" >
    delete from document
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.oracle.pojo.Document" >
    insert into document (id, name, filerealname, 
      type, userid, parentid, 
      havechild, creattime, remark, 
      isdelete, deletetime)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{filerealname,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, #{parentid,jdbcType=INTEGER}, 
      #{havechild,jdbcType=INTEGER}, #{creattime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{isdelete,jdbcType=INTEGER}, #{deletetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.oracle.pojo.Document" >
    insert into document
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="filerealname != null" >
        filerealname,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="parentid != null" >
        parentid,
      </if>
      <if test="havechild != null" >
        havechild,
      </if>
      <if test="creattime != null" >
        creattime,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="isdelete != null" >
        isdelete,
      </if>
      <if test="deletetime != null" >
        deletetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="filerealname != null" >
        #{filerealname,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="havechild != null" >
        #{havechild,jdbcType=INTEGER},
      </if>
      <if test="creattime != null" >
        #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="deletetime != null" >
        #{deletetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.oracle.pojo.DocumentExample" resultType="java.lang.Integer" >
    select count(*) from document
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update document
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.filerealname != null" >
        filerealname = #{record.filerealname,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.parentid != null" >
        parentid = #{record.parentid,jdbcType=INTEGER},
      </if>
      <if test="record.havechild != null" >
        havechild = #{record.havechild,jdbcType=INTEGER},
      </if>
      <if test="record.creattime != null" >
        creattime = #{record.creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.isdelete != null" >
        isdelete = #{record.isdelete,jdbcType=INTEGER},
      </if>
      <if test="record.deletetime != null" >
        deletetime = #{record.deletetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update document
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      filerealname = #{record.filerealname,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      userid = #{record.userid,jdbcType=INTEGER},
      parentid = #{record.parentid,jdbcType=INTEGER},
      havechild = #{record.havechild,jdbcType=INTEGER},
      creattime = #{record.creattime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR},
      isdelete = #{record.isdelete,jdbcType=INTEGER},
      deletetime = #{record.deletetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.oracle.pojo.Document" >
    update document
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="filerealname != null" >
        filerealname = #{filerealname,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="parentid != null" >
        parentid = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="havechild != null" >
        havechild = #{havechild,jdbcType=INTEGER},
      </if>
      <if test="creattime != null" >
        creattime = #{creattime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="deletetime != null" >
        deletetime = #{deletetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oracle.pojo.Document" >
    update document
    set name = #{name,jdbcType=VARCHAR},
      filerealname = #{filerealname,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=INTEGER},
      parentid = #{parentid,jdbcType=INTEGER},
      havechild = #{havechild,jdbcType=INTEGER},
      creattime = #{creattime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      isdelete = #{isdelete,jdbcType=INTEGER},
      deletetime = #{deletetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>